<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-container">
  <!-- <ng-container *ngIf="tasks"> -->
  <!-- <button type="button" (click)="openTaskForm()">Create new task</button> -->
  <!-- <button type="button" (click)="openModal()">Oen modal</button> 
    <button type="button" (click)="openModalf()">Cool btn</button> -->

  <app-sidebar style="padding: 0; margin:0;">

  </app-sidebar>



  <div class="main-window">


    <router-outlet></router-outlet>
    <!-- <button (click)="openTaskForm()" style="margin-left: 16px;">Create Task</button>
    <input [formControl]="searchfield" type="text" placeholder="Search...">
    <div class="task-wrapper">
        <app-task *ngFor="let task of tasks" [task]="task" (update)="update($event)" (delete)="delete($event)" (verify)="verify($event)"></app-task>
    </div> -->


  </div>





  <!-- </ng-container> -->

</div>



<div id="modal-container" class="hidden" (notify)="notify($event)"></div>
<!-- <div id="overlay" (click)="removeModal()" class="hidden"></div> -->