<!--The content below is only a placeholder and can be replaced.-->
<div class="grid-container">
  <!-- <ng-container *ngIf="tasks"> -->
  <!-- <button type="button" (click)="openTaskForm()">Create new task</button> -->
  <!-- <button type="button" (click)="openModal()">Oen modal</button> 
    <button type="button" (click)="openModalf()">Cool btn</button> -->
  <div class="sidebar">
    <div class="profile">
      <div class="profile-picture">
        <!-- <img src="../assets/prof.png"> -->
        <i class="material-icons" style="font-size: 96px;">
          account_circle
        </i>
      </div>
      <h2>Lars</h2>
    </div>
    <hr style="margin-bottom:5px">
    <nav class="sidebar-navigation">
      <ul class="sidebar-points">
        <li><a routerLink="tasks" routerLinkActive="active">Tasks </a></li>
        <li><a routerLink="projects" routerLinkActive="active">Projects</a></li>
        <li><a routerLink="stats" routerLinkActive="active">Stats</a></li>
      </ul>
    </nav>
  </div>
  
  
  <div class="main-window">
    
    
    <router-outlet></router-outlet>
    <!-- <button (click)="openTaskForm()" style="margin-left: 16px;">Create Task</button>
    <input [formControl]="searchfield" type="text" placeholder="Search...">
    <div class="task-wrapper">
        <app-task *ngFor="let task of tasks" [task]="task" (update)="update($event)" (delete)="delete($event)" (verify)="verify($event)"></app-task>
    </div> -->
  
  
  </div>





  <!-- </ng-container> -->

</div>


<!-- <div id="form-container">
    <form id="form-inside">
      
          
          <div class="modal-part">
            <h3>Task creation</h3>
          </div>
          <div class="modal-part model-inputs">
            <div class="form-group">
              <input type="text" class="form-control" id="name" placeholder="Task Name" required>
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="alterEgo" placeholder="Something">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="alterEgo" placeholder="Something">
            </div>
            <div class="form-group">
              <input type="text" class="form-control" id="alterEgo" placeholder="Something">
            </div>
          </div>
          
          <div class="modal-part">
            <button type="submit">Submit</button>
            <button type="button" (click)="closeTaskForm()">Cancel</button>
          </div>
        </form>
      </div> -->
<div id="modal-container" class="hidden" (notify)="notify($event)"></div>
<!-- <div id="overlay" (click)="removeModal()" class="hidden"></div> -->