@import './variables.scss';

.modal-container {
  padding-top: 100px; /* Location of the box */
  position: absolute;
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 100%;
  z-index: 1;
  animation-name: example;
  animation-duration: 0.8s;
  animation-fill-mode: forwards; 

  @keyframes example {
    from {background-color: none;}
    to {background-color: rgba(0, 0, 0, 0.4);}
  }
}

.modal-inside {
  background: white;
  margin: auto;
  margin-top: 1%;
  display: grid;
  height: 500px;
  width: 800px;
  grid-template-columns: 1fr;
  grid-template-rows: 1fr 4fr 1.5fr;
  grid-row-gap: 5px;
  box-shadow: 4px 4px 2px #aaaaaa;


  opacity: 0;
  animation-delay: 0.2s;
  animation-duration: 0.5s;
  animation-fill-mode: forwards; 
  animation-name: myani;

  @keyframes myani {
    from {opacity: 0; }
    to { opacity: 100; }
  }

}

.modal-header {
  margin-left: 5%;
  margin-right: 5%;

  border-bottom: 1px solid lightgray;

  h2{
      color: black;
  }
}
.model-inputs {
  display: grid;
  justify-content: stretch;
  align-content: space-evenly;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: stretch;
}

.modal-part {
    
    margin-left: 5%;
    margin-right: 5%;
     
    border-bottom:1px solid lightgray;
}

.form-group input {
    flex: 1;
}
.form-group label {
    margin-right: 5%;
}


input[type=text] {
 
  -webkit-transition: box-shadow 0.4s;
  transition: box-shadow 0.4s;
}

input[type=text]:focus {

    outline: none;
    box-shadow: 0px 3px 0px 0px #4EA6EA, 0px 3px 0px 0px #4EA6EA;
   

  // border-bottom: solid 2px $primary;
  // animation-duration: 0.5s;
  // animation-fill-mode: forwards;
  // animation-name: textanimation;


  // @keyframes textanimation {
  //   from {border-bottom-width: 0%}
  //   to {border-bottom-width: 100%} 
  // }
}