<div class="sidebar">
  <div>

  </div>
  <nav class="sidebar-navigation">
    <ul class="sidebar-points">
      <li>
        <a routerLink="tasks" routerLinkActive="sidebar-active-link">
          <div class="list-item">
            <div class="sidebar-icon">
              <i class="material-icons">
                view_module
              </i>
            </div>
            <div class="sidebar-text">
              Tasks
            </div>
          </div>
        </a>
      </li>

      <li>
        <a routerLink="projects" routerLinkActive="sidebar-active-link">
          <div class="list-item">
            <div class="sidebar-icon">
              <i class="material-icons">
                work
              </i>
            </div>
            <div class="sidebar-text">
              Projects
            </div>
          </div>
        </a>
      </li>
      <li>
        <a routerLink="projec" routerLinkActive="sidebar-active-link">
          <div class="list-item">
            <div class="sidebar-icon">
              <i class="material-icons">
                show_chart
              </i>
            </div>
            <div class="sidebar-text">
              Stats
            </div>
          </div>
        </a>
      </li>
    </ul>
  </nav>
</div>