
@import '../../sass/variables';

.grid-container {
    display: grid;
    grid-template-columns: 1fr 5fr;
    grid-column-gap: 1em;
    height: 100%;
  }

  
  
  .sidebar {
    background-color: $primary-dark;
    padding: 1em;
    text-align: left;
    margin: 0;
    font-weight: 200;
  }
  
  .sidebar {
    background-color: $primary-dark;
    padding: 1em;
    text-align: left;
    margin: 0;
    font-weight: 200;
  }
  
  .sidebar ul {
    margin: 0%;
    padding: 0;
  }
  
  .sidebar ul li {
    font-size: 14pt;
  }
  .sidebar hr {
    size: 1px;
  }
  
  
  .profile-picture {
    height: 50px;
    text-align: left;
    margin-bottom: 2em;
    
  }
  .profile-picture img {
    height: 100%;
    width:auto;
    border-radius: 50%;
  }
  
 
  
  
  .main-window {
    // background-color: white;
    //   padding: 2em;
    padding-top: 1em;
  }
  
  .task-wrapper {
    display: flex;
    flex-wrap: wrap;
  }
  .task {
    display: grid;
    height: 260px;
    width: 240px;
    grid-template-rows: 1fr 4fr 2fr;
    //   background-color: $primary;
    background-color: aliceblue;
    margin: 1em;
    -webkit-box-shadow: 10px 10px 24px -5px rgba(51, 51, 51, 1);
    -moz-box-shadow: 10px 10px 24px -5px rgba(51, 51, 51, 1);
    box-shadow: 10px 10px 24px -5px rgba(51, 51, 51, 1);
  }
  .task:hover {
  }

  .task-header {
    background-color: $primary;
    padding-left: 0.5em;
    padding-right: 0.5em;
    margin: 0%;
    display: flex;
    justify-content: space-between;
  }
  
  .md-16 {
      padding-top: 4px;
      font-size: 16pt;
  }
  
  .warning {
      color: gold;
  }
  .danger {
      color: red;
  }
  
  
  .task-header p {
    margin: 4px;
  }
  
  .task-main {
    color: black;
    padding: 1em;
    font-size: 10pt;
    padding-bottom: 0%;
  }
  .task-footer {
    margin: 0%;
    padding: 1em;
    color: $primary-light;
    display: flex;
      justify-content: space-between;
  }

  .task-footer p {

    font-size: 8pt;
    color: gray;
}

#task-delete {
  color: gray;
}

.flex-container {
    display: flex;
    column-gap: 30px;
    align-content: space-around;
    flex-wrap: wrap;
}

.flex-item {
    height: 200px;
    width: 200px;
    background-color: beige;
    margin: 5px;
    display: flex;
}
.center-flex-item {
    margin: auto;
}

.flex-item:hover {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

#form-container {
    display: none;
    padding-top: 100px; /* Location of the box */
    position: absolute;
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%;
    z-index: 1;
    background-color: rgba(0,0,0,0.4);
}

#form-inside {
    background: white;
    margin: auto;
    margin-top: 1%;
    display: grid;
    height: 500px;
    width: 800px;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 4fr 2fr;
    grid-row-gap: 5px;
    box-shadow: 4px 4px 2px #aaaaaa;
}

.modal-part {
    
    margin-left: 5%;
    margin-right: 5%;
     
    border-bottom:1px solid lightgray;
}

.model-inputs {
    display: grid;
    justify-content: stretch;
    align-content: space-evenly;
}

.form-group {
    width: 100%;
    display: flex;
    justify-content: stretch;
}
.form-group input {
    flex: 1;
}
.form-group label {
    margin-right: 5%;
}

.form-control {
    // width: 100%;
}


.modal-part:last-child {
    margin-bottom: 2%;
    border-bottom: none;
}


#taskform {
    display: none;
}


.blue {
background-color: aqua;
}
.grey {
background-color: lightgrey;
}
.beige {
 background-color: beige;
}


#modal-container {
    position:  fixed;
    top: 150px;
    left: 28%;
    width: 375px;
    background: white;
    text-align: center;
    box-shadow: 0px 0px 2px 1px black;
    z-index: 100;
}

#overlay {
    position: absolute;
    padding-top: 100px;
    top: 0px;
    left:  0px;
    z-index:  99;
    width:  100%;
    height: 100%;
    background:  rgba(0,0,0,0.8);
}

@media(max-width: $screen-breakpoint-mobile)
{
  .grid-container {
    grid-template-columns: auto;
  }
  .sidebar ul {
    display: none;
  }
  .profile-picture{
    display: none;
  }
}