<div class="modal-container">
  <form (ngSubmit)="onSubmit()" [formGroup]="projectForm" class="modal-inside">
    <div class="modal-header">

      <h2>Project Creation</h2>

    </div>
    <div class="modal-inputs modal-part">
      <div class="form-group">
        <input type="text" formControlName="name" placeholder="Project Name">
      </div>
      <div class="form-group">
        <input type="text" formControlName="description" placeholder="Project description">
      </div>
      <!-- <div class="form-group">
        <input type="text" placeholder="Project categories">
      </div> -->
    </div>

    <div class="modal-part">
      <input type="submit" value="Submit">
      <button type="button" (click)="closeForm()">Cancel</button>
    </div>
  </form>
</div>