<!-- <div class="flex-item" (click)="onTaskClick()">
  <div class="center-flex-item">
    <p>{{task.name}}</p>
  </div>
</div> -->


<div class="task">
  <div class="task-header">
    <p>{{task.name}}</p>
    <i class="material-icons md-16">
      error_outline
    </i>
  </div>
  <div class="task-main">
    <label>Desc: </label>
    <p class="task-main-description">{{task.description}}</p>
    <p *ngIf="task.estimated_time; else elseBlock">Estimated hours: {{task.estimated_time}}h</p>
    <ng-template #elseBlock>No Estimate</ng-template>
  </div>

  <!-- TODO move style -->
  <hr style="width: 80%; margin-top: 0; margin-bottom: 0; height: 1px; border: none; border-top: 1px solid lightgray;">
  <div class="task-footer">
    <div class="task-inner-footer">
      <button (click)="OnVerify()">
        <i class="material-icons" [style.color]= "task.status == 'completed' ? 'green' : 'gray'">
          check_circle_outline
        </i>
      </button>
    </div>
    <div class="task-inner-footer">
      <button (click)="onTaskClick()">
        <i id="edit" class="material-icons">
          edit
        </i>
      </button>
      <button (click)="onTaskDelete()" >
        <i class="material-icons" id="task-delete">
          delete
        </i>
      </button>
    </div>
    <p>Created: {{ task.created_date | date:'dd/MM/yy' }}</p>
  </div>

</div>