<div class="modal-container">
  <form class="modal-inside" [formGroup]="taskForm" (ngSubmit)="updateTask()">

    <div class="modal-part modal-header">
      <h3>Edit Task</h3>
    </div>


    <div class="modal-part model-inputs">

      <div class="form-group">
        <input class="form-control" type="text" formControlName="name" placeholder="Task Name" required>
      </div>
      <div class="form-group">
        <input class="form-control" type="text" formControlName="description" placeholder="Description">

      </div>

      <div class="form-group">
        <input class="form-control" type="number" formControlName="estimated_time" placeholder="Time estimahe (hours)">
      </div>

    </div>
    <div class="modal-part">
      <button type="submit"> Update Task</button>

      <button type="button" (click)="closeForm()">close</button>
    </div>
  </form>
</div>